<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femke moment</title>
    <link rel="stylesheet" type="text/css" href="/coolsite/public/css/generalstyle.css" />
    <link rel="stylesheet" type="text/css" href="/coolsite/public/css/femke.css" />
</head>
<body>
    <a href="/coolsite">Home</a>
    <h1>FEMKEEEEE</h1>
    <p>Femke is een persoon, ze bestaat, zeker en vast een bepaald deel van haar ;) (haar pp)</p>
</body>
</html>