<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/coolsite/public/css/generalstyle.css" />
</head>

<body>
    <nav>
        <a href="/coolsite">Home</a>
    </nav>
    <form id="file-upload-form">
      <input type="file" name="file">
      <button type="submit">Upload File</button>
    </form>

    <script>
      // Get a reference to the form element
      var form = document.getElementById('file-upload-form');
      
      // Listen for the submit event on the form
      form.addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
      
        // Create a new FormData object
        var formData = new FormData();
      
        // Get the selected file
        var file = document.getElementsByName('file')[0].files[0];
      
        // Add the file to the FormData object
        formData.append('file', file);
      
        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();
      
        // Set the onload and onerror event handlers
        xhr.onload = function() {
          if (xhr.status === 200) {
            // File was uploaded successfully
            alert('File was uploaded successfully');
          } else {
            // There was an error uploading the file
            alert('Error uploading file');}}})
      </script>
  </script>
</body>

</html>