<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruben</title>
    <link rel="stylesheet" type="text/css" href="css/ruben.css" />
</head>
<body>
    <a href="/">Home</a>
    <h1>Ruben</h1>
    <p>Hallo ik ben Ruben en ik besta, daarom gaat de werled exploderen nadat ik 3 sattelietren heb :DDDD</p>
    <strong>public static void main(String[] args) moment</strong>
    
</body>
</html>