body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

nav {
    background-color: black;
    color: white;
    font-weight: bold;
}

a:link, a:visited, a:hover {
    background-color: black;
    color: white;
    border: 1px;
    border-color: white;
}
